<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>VentPortal</title>
    {% endif %}
</head>
<body>
    <center><h1>VentPortal</h1></center>

    <div align="left">
        <h1>Product {{ p_product }}</h1>
        <p>Prise:{{ p_price }} $</p>
        <p>Description: {{ p_description }}</p>
        <p>Quantity: {{ p_quantity }}</p>
        <p><a href="/ventportal/product-category/{{ category }}/{{ products }}/Buy">
            Buy</a></p>

    </div>
</body>
</html>